<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/YOUR_KIT_CODE.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="header-wrapper">
      <header>
        <h1>MovieVerse</h1>
        <p>Inventory Management App</p>
      </header>
    </div>
    <div class="main-wrapper">
      <main>
        <a class="card" href="movies"> Movies </a>
        <a class="card" href="genres"> Genres </a>
        <a class="card" href="studios"> Studios </a>
      </main>
    </div>
    <div class="footer-wrapper"><%-include('partials/footer')%></div>
  </body>
</html>
