<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="header-wrapper">
      <header>
        <h1>MovieVerse</h1>
        <p>Inventory Management App</p>
      </header>
    </div>
    <div class="main-wrapper">
      <main>
        <a class="card" href="genres"> Genres </a>
        <a class="card" href="genres"> Movies </a>
        <a class="card" href="genres"> Studios </a>
      </main>
    </div>
    <div class="footer-wrapper"><%-include('partials/footer')%></div>
  </body>
</html>
