* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  line-height: 1.5;
  min-height: 100vh; 
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
body{
    font-family: 'Arimo','sans-serif';
}
header{
    min-height:10vh;
    display:flex;
    align-items:center;
    font-size:2rem;
    max-width: 1400px;
    margin-inline: auto;
}
.header-wrapper{
     background-color:rgb(82, 14, 14);
}
header nav{
    display:flex;
    justify-content: space-around;
    gap:4rem;
    margin-inline:auto;
}
header a{
    color:white;
    text-decoration: none;
}
.main-wrapper{
    padding:2rem 0;
    flex-grow: 1;
    display:flex;
}
main{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    max-width: 1400px;
    margin-inline: auto;
    align-items: center;
    color:white;
}
h2{
    margin-bottom: 2rem;
}
form{
    display:flex;
    flex-direction: column;
}
input, textarea{
    margin-bottom: 2rem;
}
body{
    background-color: rgb(37, 37, 36);
    display:flex;
    flex-direction: column;
}

.footer-wrapper{
      background-color:rgb(82, 14, 14);
}
footer{
    min-height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background-color:rgb(82, 14, 14);
    color:white;
    max-width: 1400px;
    margin-inline: auto;
}
footer a{
    text-decoration: none;
    color:white;
}
svg{
    filter:invert(1);
    height:30px;
}