* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  line-height: 1.5;
  min-height: 100vh; 
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/** Styles*/
body{
    background-color: rgb(37, 37, 36);
    display:flex;
    flex-direction: column;
    font-family: 'Arimo','sans-serif';
}
header{
    min-height:10vh;
    display:flex;
    align-items:center;
    font-size:2rem;
    max-width: 1400px;
    margin-inline: auto;
    padding:1rem 0;
    color: white;
}
.header-wrapper{
     background-color:rgb(82, 14, 14);
}
header nav{
    flex-grow: 1;
    display:flex;
    padding:0 2rem;
    justify-content: space-between;
    padding:0 4rem;
}
header .links-container{
    display:flex;
    gap:2rem;
}
header a{
    color:white;
    text-decoration: none;
     display: flex;
    align-items: center;
}
.main-wrapper{
    flex-grow: 1;
    display:flex;
    padding:4rem 0;
}
main{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    max-width: 1400px;
    margin-inline: auto;
}
main form{
    grid-column: 1/3;
    margin-inline: auto;
}
.add-button{
    padding:1rem 2rem;
    border-radius: 16px;
    cursor: pointer;
}
main .cards-container{ 
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-items: center;
    align-items: center;
    padding: 4rem;
    gap:2rem;
}
main .card{
    background-color: rgba(99, 96, 96, 0.363);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    min-height: 150px;
    display: flex;
    overflow: hidden;
}
svg{
    height:30px;
}
.card .url-container{
    flex-grow:1;
}
.card .button-container, .button-container form{
    display: flex;
    align-items: stretch;
}
.card button:hover{
    cursor: pointer;
    background-color:rgb(82, 14, 14);
}

main .card a{
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    padding:1rem;
}

.footer-wrapper{
      background-color:rgb(82, 14, 14);
}
footer{
    min-height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background-color:rgb(82, 14, 14);
    color:white;
    max-width: 1400px;
    margin-inline: auto;
      padding:1rem 0;
}
footer a{
    text-decoration: none;
    color:white;
}
footer svg{
    filter:invert(1);
}