* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  line-height: 1.5;
  min-height: 100vh; 
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Variables */
:root{
    --secondary-bg-color:hsl(1, 61%, 27%);
    --primary-bg-color:hsl(0,0%,0%);
    --primary-font-color: hsl(0, 0%, 100%);
    --card-color:hsl(0,0%,10%);
    --card-selected-color:hsl(0,0%,30%);
    --button-selected-color:hsl(0, 0%, 60%);
    --action-color-delete:hsl(0, 100%, 30%);
}
/* Styles*/
body{
    background-color: hsl(0, 0%, 5%);
    display:flex;
    flex-direction: column;
    font-family: 'Arimo','sans-serif';
}
header{
    min-height:10vh;
    display:flex;
    align-items:center;
    font-size:2rem;
    max-width: 1400px;
    margin-inline: auto;
    padding:1rem 0;
    color: white;
}
.header-wrapper{
     background-color:var(--secondary-bg-color);
     z-index: 2;
}
header nav{
    flex-grow: 1;
    display:flex;
    padding:0 2rem;
    justify-content: space-between;
    padding:0 3rem;
}
header .links-container{
    display:flex;
    gap:2rem;
}
header a{
    color:white;
    text-decoration: none;
     display: flex;
    align-items: center;
    padding:0 1rem;
}
.links-container a:hover{
    background-color: white;
    color:black;
    border-radius:8px;
}
.main-wrapper{
    flex-grow: 1;
    display:flex;
    padding:4rem 0;
}
main{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    max-width: 1400px;
    margin-inline: auto;
}
main .card form{
    grid-column: 1/3;
    margin-inline: auto;
}
.open-add-dialog-button{
    padding:1rem 2rem;
    border-radius: 16px;
    cursor: pointer;
    width: 8rem;
    margin-inline:auto;
    text-align: center;
}
.open-add-dialog-button svg{
    width:100%;
}
.open-add-dialog-button:hover{
   background-color: var(--button-selected-color);
}

main .cards-container{ 
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-items: center;
    align-items: center;
    padding: 4rem;
    gap:2rem;
}
main .card{
    background-color: var(--card-color);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    min-height: 150px;
    display: flex;
    overflow: hidden;
    max-width: 500px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}


.url-container:hover{
    background-color: var(--card-selected-color);
}
svg{
    height:30px;
}
.card .url-container{
    flex-grow:1;
}
.card .button-container, .button-container form{
    display: flex;
    align-items: stretch;
}
.card button:hover{
    cursor: pointer;
      background-color: var(--action-color-delete);
}
.card button{
    border:none;
}
.card .url-container a:hover{
     background-color:var(--card-selected-color);
}
main .card a{
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    padding:1rem;
}
dialog::backdrop {
  background-color: hsl(0,0%,0%,0.8);
}
dialog{
    position: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:2rem;
  border-radius:16px;
  gap:1rem;
}
#add-dialog form, #edit-dialog form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
#add-dialog form input,
#edit-dialog form input,
#add-dialog form textarea,
#edit-dialog form textarea
{
     border: 1px solid black;
}
#add-dialog form label,#edit-dialog form label{
     display:flex;
    flex-direction: column;
}
.form-button-container{
    display: flex;
    justify-content: space-evenly;
}
.form-button-container button{
    padding:8px 16px;
    border-radius: 8px;
}
.cancel-button{
    background-color: var(--action-color-delete);
    color:white;
    border:none;
}
.add-button{
    background-color: green;
    color:white;
    border:none;
}
.footer-wrapper{
       background-color:var(--secondary-bg-color);
        z-index: 2;
    }
footer{
    min-height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    color:white;
    max-width: 1400px;
    margin-inline: auto;
      padding:1rem 0;
}
footer a{
    text-decoration: none;
    color:white;
}
footer svg{
    filter:invert(1);
}